<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
	
	
	<!-- HEADER -->
				<nav class="navbar navbar-light bg-light">
	  		<div class="col-md-3">
		  		<span class="navbar-brand mb-0 h1">Todo Coches</span>
	  		</div>
	  		<div class="col-md-6 welcome">
		  		<span class="navbar-brand mb-0 h1">Juanillo</span>
	  		</div>

	  		<div class="col-md-3 pruClose">
		  		<img alt="purchaseImg" src="img/purchase.png">
		  		<a href='purchase.jsp' class="btn btn-info a-closeSession">#</a>
		  		<a href='index.jsp' class="btn btn-danger a-closeSession">Cerrar Sesión</a>
	  		</div>
		</nav>
		<!-- END HEADER -->
		
		<!-- MAIN -->		
		
		<div class="container">
			<div class="row">
				<h1 class="display-1">Borrar Modelo</h1>
				<div class="form-row">
					<form th:action="@{/elementDeleteSubmit}" method="post" th:object="${deleteElement}">
						<label for="validationServer01">Marca</label>
						<input class="form-control" id="validationCustom01" type="text" name="categoryObj" th:value="*{categoryObj.categoryname}" th:fild="*{categoryObj.categoryname}" readonly>
						<br>
						<label for="validationServer02">Modelo</label>
						<input class="form-control" id="validationCustom02" type="text" name="elementname" th:value="*{elementname}" th:fild="*{elementname}" readonly>
						<br>
						<label for="validationServer03">descripción</label>
						<input class="form-control" id="validationCustom03" type="text" name="description" th:value="*{description}" th:fild="*{description}" readonly>
						<br>
						<label for="validationServer04">Stock</label>
						<input class="form-control" id="validationCustom04" type="number" name="stock" th:value="*{stock}" th:fild="*{stock}" readonly>
						<br>
						<label for="validationServer05">Precio</label>
						<input class="form-control" id="validationCustom05" type="number" name="price" th:value="*{price}" th:fild="*{price}" readonly>
						<br>
						<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUser" data-bs-whatever="@h">Borrar</button>

				        <!-- modal oculto -->
				        <div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				            <div class="modal-dialog">
				                <div class="modal-content">
				                    <div class="modal-header">
				                        <h5 class="modal-title" id="exampleModalLabel"> ¿Seguro que deseas borrar el modelo?</h5>
				                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				                    </div>
				                    
				                    <div class="modal-footer">
				                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				                        <button type="submit">Borrar</button>
				                    </div>
				                </div>
				            </div>
				        </div>
						
						
					</form>
				</div>
			</div>
		</div>
				
		<!-- END MAIN -->
		
		<!-- FOOTER -->
	     <footer class="bg-light text-center text-lg-start">
		 	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		    	© 2023 Copyright: TodoCoches.com
		  	</div>
		</footer>
	    <!-- END FOOTER -->
	    
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	    
	</body>
</html>