<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<form th:action="@{/userAddSubmit}" method="post" th:object="${newUser}">
			<label>Nombre usuario</label>
			<input type="text" name="username" th:fild="*{username}">
			<br>
			<label>Contraseña</label>
			<input type="password" name="password" th:fild="*{password}">
			<br>
			<!--<label>Repetir Contraseña</label>
			<input type="password" name="passwordR">
			<br>-->
			<label>Nombre Real</label>
			<input type="text" name="realusername" th:fild="*{realusername}">
			<br>
			<label>Correo Electrónico</label>
			<input type="email" name="email" th:fild="*{email}">
			<br>
			<button type="submit">Registrar</button>
		</form>
	</body>
</html>