<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<form action="" method="post">
			<label>Nombre usuario</label>
			<input type="text" name="username">
			<br>
			<label>Contraseña</label>
			<input type="password" name="password">
			<br>
			<label>Repetir Contraseña</label>
			<input type="password" name="passwordR">
			<br>
			<label>Nombre Real</label>
			<input type="text" name="realName">
			<br>
			<label>Correo Electrónico</label>
			<input type="email" name="email">
			<br>
			<button type="submit">Registrar</button>
		</form>
	</body>
</html>